*{
    margin: 0;
    padding: 0;
}
body {
    background-color:darkblue;
}


.title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    padding: 10px;
    background-color: rgb(57, 141, 8);
}


.img {
    width: 66px;
    height: auto;
    border-radius: 50%;
}


.all,
.end {
    display: flex;
}

.name {
    font-size: 22px;
    font-weight: 600;
}

.name1 {
    font-style: oblique;
}

.name2 {
    font-weight: 600;
    font-style: oblique;
}

.block {
    background-color: rgb(57, 141, 8);
    width: 40px;
    height: 60px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right1 {
    width: 100%;
    height: auto;
    display: flex;
    margin: 30px;
}

.blocks {
    margin-left: 30px;
    text-align: center;
}

.right2{
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
}

.right3 {
    width: 300px;
    height: auto;
    background-color:red;
    border-radius: 4px;
    display: inline-flex;
}

.row1 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
}

.row2 {
    width: 300px;
    height: auto;
    background-color:red;
    border-radius: 4px;
    display: flex;
    flex-direction: row-reverse;
}

.row3 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4x;
    display: flex;
    flex-direction: column;
}

.row4 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-direction: column-reverse;
}

.right4 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
}

.right5 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
}

.right6 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap-reverse;
}

.my1 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: start;
}

.my2 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: end;
}

.my3 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: center;
}

.my4 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.my5 {
    width: 300px;
    height: auto;
    background-color: red;
    border-radius: 4px;
    display: flex;
    justify-content: space-around;
}


.your1 {
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
}

.your2 {
    width: 300px;
    height: 100px;
    background-color:red;
    border-radius: 4px;
    display: flex;
    align-items: flex-start;
}

.your3 {
    width: 300px;
    height: 100px;
    background-color:red;
    border-radius: 4px;
    display: flex;
    align-items: flex-end;
}

.your4 {
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.your5 {
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
    display: flex;
    align-items: baseline;
}
.seven1 {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.forsixth1 {
    background-color: rgb(74, 185, 54);
    width: 13px;
    height: 70px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 5px;
}

.forsixth2 {
    background-color: rgb(57, 141, 8);
    width: 60px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 5px;
}

.forsixth3 {
    background-color: rgb(57, 141, 8);
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
}



.seventh2 {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.seventh3 {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

.seventh4 {
    width: 200px;
    height: 100px;
    background-color:red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.seventh5 {
    width: 200px;
    height: 100px;
    background-color:red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.seventh6 {
    width: 200px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
}

.block1 {
    background-color: rgb(57, 141, 8);
    width: 40px;
    height: 10px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    font-size: 10px;
}

.order {
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    order: 0;
}

.block3 {
    background-color: rgb(57, 141, 8);
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    flex-grow: 1;
}

.block4 {
    background-color: rgb(57, 141, 8);
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    flex-grow: 3;
}

.flexshrink {
    width: 200px;
    height: 100px;
    background-color: chocolate;
    border-radius: 5px;
    display: flex;
}

.flexshrink1 {
    background-color: rgb(57, 141, 8);
    border: 1px solid black;
    width: 40px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-shrink: 1;
}

.flexshrink2 {
    background-color: rgb(57, 141, 8);
    border: 1px solid black;
    width: 40px;
    height: 80px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-shrink: 0;
}

.flexflow {
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
    flex-grow: 1;
}

.flexbase {
    background-color: rgb(57, 141, 8);
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
}

.flexbase1 {
    background-color: rgb(57, 141, 8);
    border: 2px solid black;
    width: 30px;
    height: 70px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-basis: auto;
}

.flexbase2 {
    background-color: rgb(57, 141, 8);
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    flex-basis: 240px;
}

.alignself {
    background-color: rgb(57, 141, 8);
    width: 300px;
    height: 100px;
    background-color: red;
    border-radius: 5px;
    display: flex;
}

.alignself1 {
    background-color: rgb(57, 141, 8);
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    align-self: flex-start;
}

.alignself2 {
    background-color: rgb(57, 141, 8);
    width: 20px;
    height: 30px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 5px;
    align-self: flex-end;
}